html{
  background-color: #fff;
}

.App{
  background-color: #fff;
  height:max-content;
  display: block;
  padding-top: 5em;
  padding-right: 20%;
  padding-left: 20%;
}

.title-font{
  color: orangered;
  font-size: 4em;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 0em;
}

.btn-container{
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3em;
}

.btn{
  background-color: Transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.7;
}

.btn-pic{
  width: 100%;
  border-radius: 1em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0em;
}

.btn-title{
  color: grey;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.btn-subtitle{
  color: grey;
  text-justify: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.25em;
}

.card{
  background-color:rgb(231, 231, 231);
  border-radius: 1em;
  margin: 1em;
}

#video{
  display: none;
  background-color: #fff;
}

#video video{
  width: 100%;
  border-radius: 1em;
}

.res-container {
 display: flex;
 flex-direction: row;
 margin-top: 5em;
 align-items: flex-start;
 padding: 4em;
 background-color: rgb(238, 238, 238);
 border-radius: 1em;

}

.video-retro-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1em;
}

.video-retro-container video{
  border-radius: 0.5em;
}

#response{
  display: none;
  flex-direction: column;
}

#response video{
  width: 100%;
}

.info{
  width: 100%;
  margin-right: 2em;
}

.para{
  margin-right: 2em;
  padding: 0.5em;
  color: grey;
  width: 100%;
  font-weight: 700;
  font-size: 1.5em;
}

.key-el{
  align-content: center;
  margin-top: 1em;
}

.para-list{
  color: grey;
  width: 100%;
  font-weight: 400;
  font-size: 1.25em;
}

.select-title{
  font-size: 2em;
  text-align: center;
  color:grey;
  margin-bottom: 4em;
  font-weight: 700;
}

.info-title{
  font-size: 2em;
  text-align: center;
  color:grey;
  margin-bottom: 1em;
  font-weight: 700;
}

.retro-subtitle{
  font-size: 2.5em;
  text-align: center;
  color: orangered;
  margin-top: 0em;
  margin-bottom: 0.25em;
  font-weight: 700;
}

.selectBtn{
  width: 100%;
  font-size: 1em;
  color: white;
  background-color:orangered;
  border-radius: 0.5em;
  height:100px;
  cursor: pointer;
  border: 0;
  margin-bottom: 0.5em;
  padding: 1em;
  align-self: center;
}

.selectBtn:hover{
  opacity: 0.7;
}

#selector{
  width: 50%;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  background-color: #fff;
  padding-top: 10%;
  padding-bottom: 5em;
  padding-bottom: 5em;
  height: 100%;
  left: 0;
  padding-right: 25%;
  padding-left: 25%;
}

.retour{
  align-self: center;
  border-radius: 1em;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.25em;
  font-weight: 400;
  margin-top: 4em;
  cursor: pointer;
  color: #555;
  border: 0;
  display: none;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
}

.retour:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {

  .btn-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .info{
    width: 100%;
    margin-right: 0em;
  }

  .App{
    background-color: #fff;
    height:max-content;
    display: block;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .btn{
    padding: 0;
  }

  .btn-title{
    color: grey;
    text-align: center;
    font-size: 1.5em;
  }

  .btn-subtitle{
    color: grey;
    text-justify: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.25em;
  }

  .selectBtn{
    width: 100%;
    font-size: 1em;
    color: white;
    background-color:orangered;
    border-radius: 0.5em;
    height: auto;
    cursor: pointer;
    border: 0;
    margin-bottom: 0.5em;
    padding: 1em;
    align-self: center;
  }

  .res-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    padding: 1em;
   }

   #response video{
    width: 100%;
    margin-top: 1em;
  }

  .info-title{
    font-size: 2em;
    text-align: center;
    color:grey;
    margin-top: 0em;
    font-weight: 700;
  }

  .para{
    width: auto;
    margin-right: 0;
  }

  .retour{
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .title-font{
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 3em;
  }

  .select-title{
    font-size: 2em;
    text-align: center;
    color:grey;
    margin-bottom: 1.5em;
    font-weight: 700;
  }

  .card{
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 2em;
    
  }

  #selector{
    width: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: #fff;
    padding-bottom: 5em;
    padding-bottom: 5em;
    height: 100%;
    left: 0;
    padding: 0;
    padding-top: 10%;
  }

  #video video{
    width: 100%;
    border-radius: 0;
  }

}